# Cleaning Smartphone Sales Data
## Author: Emma Babula

#### Import data and begin exploring

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\emmab\Phone Sales\Sales.csv")
df

,Brands,Models,Colors,Memory,Storage,Camera,Rating,Selling Price,Original Price,Mobile,Discount,discount percentage
0,SAMSUNG,GALAXY M31S,Mirage Black,8 GB,128 GB,Yes,4.3,19330,20999,SAMSUNG GALAXY M31S,1669,7.947998
1,Nokia,3.2,Steel,2 GB,16 GB,Yes,3.8,10199,10199,Nokia 3.2,0,0.000000
2,realme,C2,Diamond Black,2 GB,NaN,Yes,4.4,6999,7999,realme C2,1000,12.501563
3,Infinix,Note 5,Ice Blue,4 GB,64 GB,Yes,4.2,12999,12999,Infinix Note 5,0,0.000000
4,Apple,iPhone 11,Black,4GB,64 GB,Yes,4.6,49900,49900,Apple iPhone 11,0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
3109,POCO,M4 Pro 5G,Cool Blue,6 GB,128 GB,Yes,4.4,16999,19999,POCO M4 Pro 5G,3000,15.000750
3110,Nokia,225,Black,NaN,Expandable Upto 32 GB,Yes,3.6,3499,3499,Nokia 225,0,0.000000
3111,Apple,iPhone SE,White,2 GB,128 GB,Yes,4.5,44900,44900,Apple iPhone SE,0,0.000000
3112,Apple,iPhone 13 Pro,Gold,6 GB,128 GB,Yes,NaN,119900,119900,Apple iPhone 13 Pro,0,0.000000
3113,GIONEE,F9,Blue,3 GB,32 GB,Yes,4.2,7900,7900,GIONEE F9,0,0.000000

In [3]:
df.describe()

,Rating,Selling Price,Original Price,Discount,discount percentage
count,2970.000000,3114.000000,3114.000000,3114.000000,3114.000000
mean,4.243098,26436.625562,28333.473025,1896.847463,6.086788
std,0.271991,30066.892622,31525.599889,5337.126176,11.106776
min,2.300000,1000.000000,1000.000000,-8000.000000,-160.320641
25%,4.100000,9990.000000,10030.250000,0.000000,0.000000
50%,4.300000,15000.000000,16889.500000,0.000000,0.000000
75%,4.400000,28999.000000,31500.000000,2000.000000,9.836388
max,5.000000,179900.000000,189999.000000,75000.000000,70.610305

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3114 entries, 0 to 3113
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Brands               3114 non-null   object
 1   Models               3114 non-null   object
 2   Colors               3114 non-null   object
 3   Memory               3071 non-null   object
 4   Storage              3075 non-null   object
 5   Camera               3114 non-null   object
 6   Rating               2970 non-null   float64
 7   Selling Price        3114 non-null   int64
 8   Original Price       3114 non-null   int64
 9   Mobile               3114 non-null   object
 10  Discount             3114 non-null   int64
 11  discount percentage  3114 non-null   float64
dtypes: float64(2), int64(3), object(7)
memory usage: 292.1+ KB

In [5]:
df.duplicated().sum()

108

In [6]:
df = df.drop_duplicates()

#### Drop null values

In [7]:
df.dropna(inplace=True)

C:\Users\emmab\AppData\Local\Temp\ipykernel_31000\1379821321.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)

#### Add a column where the color names are condensed into a base color

In [8]:
df['Colors'].unique()

array(['Mirage Black', 'Steel', 'Ice Blue', 'Black', 'Coral', 'Brown',
       'Aquamarine Blue', 'Red', 'Nebula', 'Moonlight Black',
       'Sunshine Gold', 'Gold', 'Sprite', 'Blue', 'Grey', 'White',
       'Arctic White', 'Polaris Blue', 'Prism Crush Black',
       'Midnight Black', 'Bordeaux Red ', 'Green', 'That Green',
       'Fine Gold', 'Just Black', 'Violet', 'CHAMPAGNE GOLD', 'Neo Blue',
       'Purple', 'Prism Black', 'Jet Black', 'Silver', 'Yellow',
       'Starry Night', 'Ocean Blue', 'Fusion Blue', 'Gold Platinum',
       'Titan', 'Victory Blue', 'Celestial Silver', 'Lightning Red',
       'Pebble Grey', 'Gold Sepia', 'COSMIC BLACK', 'Prism White',
       'Glacier Green', 'Space Black', 'Champagne', 'Stealth Black',
       'Sky Blue', 'Forest Green', 'Black Sapphire', 'Blazing Blue',
       'Chroma White', 'Lake Green', 'Rust Red', 'Crystal Silver',
       'Lunar White', 'Black Titan', 'Midnight Jazz', 'Platinum',
       'Glaring Gold', 'Mystery Blue', 'Supersonic Black',
       'Glowing Green', 'Bolivia Blue', 'Diamond Black', 'Cool Blue',
       'Quantum Silver', 'Pearl White', 'Moroccan Blue', 'Bright Green',
       'Jewelry White', 'Luminous Black', 'Burgundy Red', 'Diamond Blue',
       'Racing Yellow', 'Obsidian Black', 'Angel Gold', 'White Pearl',
       'Garlic', 'Rose Gold', 'Classic Silver', 'Neon Spark', 'Coral Red',
       'Prism Blue', 'Smokey Gray', 'Awesome White', 'Crystal Black',
       'Green and Greener', 'Shark Grey', 'Stream White', 'Arctic blue',
       'Aqua Blue', 'Cloud Lavender', 'Glacier White', 'Vinyl Black',
       'Aurora Green', 'Space Grey', 'Lightening Black', 'Sonic Black',
       'Thunder blue', 'Pearl Blue', 'Lunar Gray', 'Elegant Blue',
       'Dusk Blue', 'Awesome Black', 'Glacier Blue', 'Oxygen Green',
       'Purist Blue', 'Fairy White', 'Sapphire Blue', 'Cyber Black',
       'Frost Blue', 'Dark Blue', 'Camo Green', 'Astral Blue',
       'Infinite Black', 'Ice', 'Electric Blue', 'Arctic Blue',
       'Polished Copper', 'Diamond Red', 'Fervor Red', 'Ocean Wave',
       'Crystal Green', 'Dazzling Gold', 'Marble Green', 'Laser Blue',
       'Olive Black', 'Venom Black', 'Neptune Blue', 'Aurora',
       'Glory Silver', 'Polar Night', 'Watery Grey', 'Midnight Blue',
       'Starry Blue', 'Deep Sea Blue', 'Tempered Blue', 'Aurora Blue',
       'Celestial Snow', 'Cool Grey', 'Fantasy White',
       'Prism Crush White', 'Solar Red', 'Aegean Blue', 'Dark Pearl',
       'Brick Red', 'Cosmic Black', 'Prism Dot Black', 'Santorini White',
       'Frosted Champagne', 'Cyber Teal', 'Starry Black', 'Piano Black',
       'Prism Crush Violet', 'Lake Blue', 'Pacific Blue', 'Cosmic Purple',
       'Tuscany Coral', 'Phantom Black', 'Blush Gold', 'Matte Black',
       'Racing Silver', 'Jade Black', 'Royal Blue', 'Awesome Violet',
       'Fluorite Purple', 'Blade Silver', 'Graphite', 'Morandi Green',
       'Charcoal Black', 'Azure Glow', 'Cloud Pink', 'Moonlight Gold',
       'Watery Blue', 'Pure White', 'Titanium', 'Steel Blue',
       'Racing Blue', 'Stellar Black', 'Phantom White', 'Sea Blue',
       'White Frost', 'Magic Gold', 'Silver Titanium', 'Ceramic White',
       'Carbon Black', 'Mocha Brown', 'Diamond Dazzle', 'Phantom Gray',
       'White Knight', 'Agate Red', 'Ocean Green', 'Topaz Gold',
       'City Blue', 'Lime Green', 'Black Onyx', 'Power Silver',
       'Nordic Blue', 'Sunset Red', 'Moonlight Jade',
       'Two shades of black', 'Glowing Galaxy', 'Pacific Pearl',
       'Charcoal', 'Cloud Mint', 'Aurora Gray', 'Starry Glow',
       'Pastel Sky', 'Celestial Magic', 'Super Polar White',
       'Auroral Blue', 'Space Silver', 'SeaBlue', 'Lightning Blue',
       'Mithril Grey', 'Matrix Purple', 'Thunder Black', 'Misty Blue',
       'Twilight Black', 'Metallic Blue', 'Slate Gray', 'Denim Black',
       'Twilight Blue', 'Ultra Violet', 'Cosmic Blue', 'Purple  ',
       'Dynamic Orange', 'Galactic Blue', 'Awesome Blue', 'Aura Glow',
       'Supersonic Blue', 'Sky White', 'Lemonade Blue', 'Atlantic Blue',
       'Amazing Silver', 'Silver Wave', 'Cosmic Gray', 'Not Pink',
       'Cross Black', 'Cross Blue', 'Sand', 'Green Wave',
       'Graphite Black', 'Quetzal Cyan', 'Glaze Blue', 'Nebula Purple',
       'Champagne Gold', 'Indigo Black', 'Metallic Gray',
       'Bronze Gradient', 'Dark Grey', 'CYAN', 'Oxygen Blue',
       'Platinum Grey', 'Symphony Cyan', 'IceBerg Blue', 'Mirror Black',
       'Jazz Blue', 'Midnight Grey', 'Sapphire Cyan', 'Emerald Green',
       'Dynamic Black', 'Dazzling White', 'White Birch', 'Sea Green',
       'Quartz Black', 'Amber Gold', 'Stainless Black', 'Deep Black',
       'Cyan Green', 'Tradew Grey', 'Super Black', 'Pink', 'Out of Blue',
       'Coral Blue', 'Grey ', 'Copper Gold', 'Crystal Blue', 'Dusk',
       'Emerald Black', 'Moonlight Silver', 'Polished Blue',
       'Phantom Silver', 'Serene Gold', 'Metal Grey', 'Universe Purple',
       'Alpine Green', 'Mystery Black', 'Marble White',
       'Prism Crush Blue', 'Quartz Green', 'Power Black', 'Sierra Blue',
       'Genuine Leather Brown', 'Tahiti Blue', 'Fjord', 'Maple Gold',
       'Prism Magic', 'Twilight Orange', 'Cyber Silver',
       'Gold and Silver', 'Polar Gold', 'Matte Gold', 'Silver Blue',
       'Eclipse Black', 'Polished Graphite', 'Tornado Black', 'Icy Blue',
       'Mystic Black', 'Mint Green', 'Mystic Bronze', 'Rosso Red',
       'Sunset Melody', 'Brilliant Black', 'Starry purple',
       'AURORA SILVER', 'Iron', 'Waterfall Grey', 'Stellar Purple',
       'Black and Gold', 'Rich Grey', 'Gradation Black', 'Radiant Blue',
       'Nordic Secret', 'Denim Blue', 'Energetic Blue', 'Ceramic Black',
       'Pearl Green', 'White  ', 'White & Copper', 'Sparkling Blue',
       'Glowing Black', 'Coral Green', 'Sprinkle White', 'Clearly White',
       'Chic White', 'Dashing Blue', 'Lunar Grey', 'Milan Black',
       'Sandstone Black', 'Nebula Red', 'Classic White', 'Power Blue',
       'So Blue', 'Blue & Silver', 'Space Blue', 'Matte Aqua',
       'Aurora Silver', 'Warm Red', 'Blazing Black', 'Midday Dream',
       'Rich Cranberry', 'Milkyway Grey', 'Onyx Black', 'Mint',
       'Diamond Flare', 'Pheonix Red', 'Thunder Blue',
       'Illuminating Yellow', 'Sunset Dazzle', 'Skyline Blue',
       'Cloud Blue', 'Comet White', 'Gradation Blue', 'Rainbow Blue',
       'Prism Crush Red', 'Dark Gray', 'Charcoal Grey', 'Fusion Black',
       'Midnight Green', 'Frosted Gold', 'Pink Sand', 'Nature Green',
       'Blue Lagoon', 'Twilight Purple', 'Marine Green', 'Charcoal Blue',
       'Cloud Red', 'Aura Black', 'GREY/BLACK', 'Wine Red', 'Dusk Purple',
       'Silver Diamond', 'Pitch Black', 'Starry Night Black',
       'black sapphire', 'Very Silver', 'Pewter / White', 'midnight blue',
       'Alpine White', 'Fantastic Purple', 'Lilac Purple', 'Crystal Pink',
       'Electric Graphite', 'Polar Black', 'Lavender Violet', 'Concrete',
       'Prism Dot Gray', 'Laser Black', 'Aurora Dawn', 'Black Leather',
       'Fusion Green', 'Dark Night', 'Prism Crush Silver',
       'Smoky Sangria', 'Haze Crush Silver', 'Midnight Purple',
       'Ink Black', 'LUNAR WHITE', 'Black/Tuxedo Black',
       'Celestial Black', 'Neon Purple', 'Magic Blue', 'Meteor Silver',
       'Starlight Black', 'Volcano Grey', 'Polar White', 'Dark Nebula',
       'Cloud White', 'Rainbow Silver', 'Metallic Sage', 'Frost White',
       'Purple Mist', 'Stardust White', 'Ruby Red', 'Space Purple',
       'Diamond Ruby', 'CHARCOAL', 'Frosted Pearl', 'Metallic Copper',
       'Phantom Purple', 'Slate Black', 'Rose Pink', 'Unicorn White',
       'Diamond Glow', 'Berlin Gray', 'Dynamic Gray', 'Black Gold',
       'Meteor Grey', 'Breeze Blue', 'Laser Green', 'Iris Charcoal',
       'Frozen Blue', 'Stardust Black', 'MAGIC BLUE', 'Phantom Green',
       'Sword Black', 'Genuine Leather Black', 'Diamond White',
       'Light Blue', 'Lightning Orange', 'Cosmos Black', 'Neo Black',
       'Navy Blue', 'Fancy White', 'Mocha Gold', 'Bronze Gold Black',
       'Voyager Grey', 'Daybreak Blue', 'Cloud Navy', 'Sunrise Flare',
       'Iceberg blue', 'Shimmer Blue', 'Iceberg Blue', 'Startrails Blue',
       'Black & Blue', 'Dawn White', 'Sunrise Blue ', 'Space Gray',
       'Stargaze White', 'Shadow Grey', 'Raven Black', 'Predator Black',
       'Gold Sand', 'Mercury Silver', 'Phantom Violet', 'Mist White',
       'Gold & Black', 'That Blue', 'Mirage Blue', 'Luna White ',
       'Heart of Ocean', 'Copper', 'Lavender  ', 'Pearl white',
       'Comet Blue', 'Topaz Blue', 'Black Sky', 'Ambitious Black',
       'Armoured Edition', 'Cream', 'Carbon Grey', 'Meteor Black',
       'Sonic Blue', 'Laser Grey', 'Crystal Symphony', 'Sporty Orange',
       'That White', 'Pink Gold', 'Grey / Silver', 'Absolute black',
       'Metallic White', 'Infinite Blue', 'Gravity Black', 'Mist Blue',
       'Fiery Gold', 'Asteroid Black', 'Baltic', 'Charcoal Gray',
       'Bright Red', 'Mint Cream', 'Deep Blue', 'Silver White',
       'Lavender Purple', 'Bordeaux Red', 'Mostly Blue', 'Pebble Blue',
       'Onion', 'Aura Red', 'Blazing Red', 'Bronze Gold', 'SAND',
       'Copper/Black', 'Nebula Blue', 'Moonlight White',
       'MOONLIGHT WHITE', 'Vanilla Mint', 'Black Pearl', 'Carbon',
       'Sunset Blue', 'Bold Red', 'Blossom Pink', 'Pacific Sunrise',
       'Awesome Mint', 'Gunmetal Silver', 'Moss Green', 'Black Diamond',
       'Electric Green', 'Sterling Blue', 'Black Ninja', 'Starry Purple',
       'Mystic Blue', 'Electric Black', 'Majestic Gold', 'Prime Black',
       'Aura White', 'Oxford Blue', 'Fancy Blue', 'Pearl Black',
       'Mystic Green', 'Shimmery White', 'Silver Titan', 'Fluid Black',
       'Mist Black', 'Aquamarine Green', 'Titan Silver', 'Slate Blue',
       'Fantastic Rainbow', 'dark gold', 'Caribbean Blue', 'Blue MB',
       'Titan Gray', 'Twilight Grey', 'Brave Blue', 'Metallic Silver',
       'Lunar Silver', 'Kind of Grey', 'Sun Kissed Leather',
       'Flowing Silver', 'Fjord Blue', 'Sunrise Red', 'Sunrise Gold',
       'Royal Gold', 'Saffron Grey', 'Silky White', 'Caviar Black',
       'Noble Black', 'Red Brick', 'Diamond Sapphire', 'Aether Black',
       'JET BLACK', 'Volcanic Grey', 'CELESTIAL SILVER',
       'Titanium Sapphire', 'Latte Gold', 'Illusion Sky', 'Rich Green',
       'Metallic Grey', 'Enigma Black', 'Black&Blue', 'Copper White',
       'Black & Copper', 'Universe Blue', 'Frosted Emerald',
       'More Than White', 'Orchid Grey', 'Sunset Jazz', 'So White',
       'Haze Green', 'Amber Red', 'Mighty Black', ' Tornado Black',
       'Orange', 'Blue Coral', 'Electric Violet', 'Black Blue',
       'Seawater Blue', 'Glossy Black', 'Gunmetal Grey', 'Flame Red',
       'Alpha Grey', 'Ghost White', 'Fancy white', 'COCKTAIL ORANGE',
       'Frosted Silver', 'Astro Moonlight White', 'Fiery Red',
       'Aurora Grey', 'Sapphire Gradient'], dtype=object)

In [9]:
color_map = {
    'black': ['black', 'onyx', 'charcoal', 'graphite', 'jet', 'raven', 'obsidian', 'carbon', 'ebony'],
    'white': ['white', 'ivory', 'pearl', 'snow', 'frost'],
    'red': ['red', 'crimson', 'ruby', 'burgundy', 'scarlet'],
    'blue': ['blue', 'navy', 'aqua', 'indigo', 'cyan', 'azure', 'ocean', 'sky'],
    'green': ['green', 'mint', 'emerald', 'olive'],
    'gold': ['gold', 'champagne', 'amber', 'sand', 'bronze'],
    'silver': ['silver', 'platinum', 'titanium', 'steel', 'metal', 'chrome'],
    'purple': ['purple', 'violet', 'lavender', 'lilac'],
    'pink': ['pink', 'rose', 'blush', 'coral'],
    'grey': ['grey', 'gray', 'slate'],
    'orange': ['orange', 'copper'],
    'brown': ['brown', 'mocha', 'coffee'],
    'yellow': ['yellow'],
    'other': []
}

def simplify_color(color):
    color = str(color).lower()
    for base, keywords in color_map.items():
        if any(keyword in color for keyword in keywords):
            return base
    return 'other'

df['base_color'] = df['Colors'].apply(simplify_color)

C:\Users\emmab\AppData\Local\Temp\ipykernel_31000\808834532.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['base_color'] = df['Colors'].apply(simplify_color)

#### Standardize storage column and create new column with only the numeric value in GB

In [10]:
df['Storage'].unique()

array(['128 GB', '16 GB', '64 GB', '16 MB', '256 GB', '32 GB', '8 GB',
       '512 GB', '2 MB', '4 GB', 'Expandable Upto 16 GB', '64 MB',
       'Expandable Upto 32 GB', '4 MB', '128 MB', '1 TB', '512 MB',
       '129 GB', '256 MB', '153 MB', '130 GB', '8 MB', '10 MB', '100 MB',
       '140 MB'], dtype=object)

In [11]:
df['Storage'] = df['Storage'].str.replace('Expandable Upto 32 GB', '32 GB')
df['Storage'] = df['Storage'].str.replace('Expandable Upto 16 GB', '16 GB')

C:\Users\emmab\AppData\Local\Temp\ipykernel_31000\364600318.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Storage'] = df['Storage'].str.replace('Expandable Upto 32 GB', '32 GB')
C:\Users\emmab\AppData\Local\Temp\ipykernel_31000\364600318.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Storage'] = df['Storage'].str.replace('Expandable Upto 16 GB', '16 GB')

In [12]:
def convert_storage(value):
    value = str(value).strip().upper()
    if 'MB' in value:
        num = float(value.replace('MB', '').strip())
        return round(num / 1024, 2)
    elif 'GB' in value:
        num = float(value.replace('GB', '').strip())
        return num
    else:
        return None

df['storage_gb'] = df['Storage'].apply(convert_storage)

C:\Users\emmab\AppData\Local\Temp\ipykernel_31000\878476594.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['storage_gb'] = df['Storage'].apply(convert_storage)

#### Drop unuseful columns

In [13]:
df = df.drop(columns='Camera')

#### Add columns for price in USD

In [14]:
df['selling_price_usd'] = df['Selling Price'] * 0.012

df['original_price_usd'] = df['Original Price'] * 0.012

#### Rename columns for consistency

In [19]:
new_columns = {
    'Brands': 'brands',
    'Models': 'models',
    'Colors': 'colors',
    'Memory': 'memory',
    'Storage': 'storage',
    'Rating': 'rating',
    'Selling Price': 'selling_price_INR',
    'Original Price': 'original_price_INR',
    'Mobile': 'mobile',
    'Discount': 'discount',
    'discount percentage': 'discount_percentage'
}

df.rename(columns=new_columns, inplace=True)

#### Save cleaned data to new file

In [20]:
df.to_csv(r"C:\Users\emmab\Phone Sales\sales_cleaned.csv", index=False)